@charset "utf-8";
/* CSS Document */

.jcircle {
	position:relative;
}

.jcircle ul.jc-list {
	display:block;
	position:absolute;
	width:auto;
	height:65px;
	overflow:hidden;
}

.jc-list li.thumbs {
	background-size:125%;
	background-repeat:no-repeat;
	width:60px;
	height:55px;
	display:inline-block;
	margin:3px 3px 7px;
	cursor:pointer;
}

.jcircle .shadow {
	-webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 5px rgba(50, 50, 50, 0.75);
}

.jcircle > img {
	display:none;
}

.jcircle .view-port {
	width:100%;
	height:300px;
	margin-bottom:10px;
}

.jcircle .view-port.main_image img {
	max-width:auto;
	height:300px;
	display:block;
	margin:5px auto;
}